aiohappyeyeballs==2.4.4
aiohttp==3.8.6
aiohttp-retry==2.8.3
aiosignal==1.3.1
amqp==5.1.1
annotated-types==0.7.0
anyio==4.5.2
arrow==1.3.0
asgiref==3.7.2
astor==0.8.1
async-timeout==4.0.3
attrs==23.1.0
backports.zoneinfo==0.2.1
barcode==1.0.4
billiard==4.1.0
binaryornot==0.4.4
blinker==1.8.0
cachetools==5.5.2
celery==5.3.4
certifi==2023.7.22
cffi==1.17.1
channels==4.0.0
chardet==5.2.0
charset-normalizer==3.3.1
click==8.1.7
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
coloredlogs==15.0.1
contourpy==1.1.1
cookiecutter==2.6.0
cycler==0.12.1
decorator==4.4.2
Deprecated==1.2.14
distlib==0.3.8
distro==1.9.0
Django==4.2.9
django-admin-adminlte==1.0.14
django-appconf==1.0.5
django-browser-reload==1.15.0
django-compressor==4.4
django-cors-headers==4.4.0
django-dbbackup==4.2.1
django-debug-toolbar==4.4.6
django-filter==24.3
django-jazzmin==3.0.1
django-phonenumber-field==7.2.0
django-tailwind==3.6.0
django-twilio==0.14.3.2
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
et_xmlfile==2.0.0
exceptiongroup==1.3.0
fake-useragent==1.5.1
fastapi==0.116.1
filelock==3.13.1
Flask==3.0.3
flatbuffers==23.5.26
flet==0.25.2
flet-desktop==0.25.2
fonttools==4.52.4
frozenlist==1.4.0
google-auth==2.40.3
google-auth-oauthlib==1.2.2
googlemaps==4.10.0
graphviz==0.20.3
gspread==6.2.1
gunicorn==23.0.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
humanfriendly==10.0
idna==3.4
imageio==2.33.1
imageio-ffmpeg==0.4.9
img2pdf==0.5.1
importlib-metadata==7.0.1
importlib-resources==6.1.1
itsdangerous==2.2.0
Jinja2==3.1.3
jiter==0.9.1
jsonschema==4.20.0
jsonschema-specifications==2023.12.1
kiwisolver==1.4.5
kombu==5.3.2
lazy_loader==0.3
Levenshtein==0.25.1
llvmlite==0.41.1
lxml==4.9.4
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.7.5
mdurl==0.1.2
moviepy==1.0.3
mpmath==1.3.0
multidict==6.0.4
networkx==3.1
numba==0.58.1
numpy==1.24.4
oauthlib==3.3.1
onnxruntime==1.16.3
openai==1.99.9
opencv-python-headless==4.8.1.78
openpyxl==3.1.5
outcome==1.3.0.post0
packaging==23.2
pandas==2.0.3
pdf2image==1.17.0
phonenumbers==8.13.23
pikepdf==8.13.0
Pillow==10.1.0
pkgutil_resolve_name==1.3.10
platformdirs==4.1.0
pooch==1.8.0
proglog==0.1.10
prompt-toolkit==3.0.39
propcache==0.2.0
protobuf==4.25.1
psycopg2-binary==2.9.9
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.22
pydantic==2.10.6
pydantic_core==2.27.2
pydub==0.25.1
Pygments==2.19.1
PyJWT==2.8.0
PyMatting==1.1.12
PyMuPDF==1.24.11
pyparsing==3.1.2
PyPDF2==3.0.1
pypng==0.20220715.0
pyreadline3==3.4.1
PySocks==1.7.1
pytesseract==0.3.10
python-barcode==0.15.1
python-dateutil==2.8.2
python-dotenv==1.0.1
python-Levenshtein==0.25.1
python-multipart==0.0.20
python-slugify==8.0.4
pytube==15.0.0
pytz==2024.1
PyWavelets==1.4.1
PyYAML==6.0.2
qrcode==7.4.2
rapidfuzz==3.9.6
rcssmin==1.1.1
referencing==0.32.0
rembg==2.0.53
repath==0.9.0
reportlab==3.6.12
requests==2.31.0
requests-oauthlib==2.0.0
rich==13.9.4
rjsmin==1.2.1
rpds-py==0.15.2
rsa==4.9.1
scapy==2.5.0
scikit-image==0.21.0
scipy==1.10.1
selenium==4.27.1
six==1.16.0
sniffio==1.3.1
sortedcontainers==2.4.0
SpeechRecognition==3.10.4
sqlparse==0.4.4
starlette==0.44.0
str2bool==1.1
sympy==1.12
text-unidecode==1.3
tifffile==2023.7.10
tqdm==4.66.1
trio==0.27.0
trio-websocket==0.12.2
twilio==7.17.0
types-python-dateutil==2.9.0.20241206
typing_extensions==4.13.2
tzdata==2023.3
urllib3==2.0.7
uvicorn==0.33.0
vine==5.0.0
virtualenv==20.25.0
wcwidth==0.2.8
websocket-client==1.8.0
Werkzeug==3.0.2
whitenoise==6.7.0
wrapt==1.16.0
wsproto==1.2.0
yarl==1.9.2
zipp==3.17.0
